
.home-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #f0f3f3;
    padding: 20px;
    overflow-x: hidden;
}
/* .home-container.preview{
    min-height: 100%;
    height: auto;
} */

/*header title style*/
.home-container .header-title, 
.home-container .header-title .ant-row-flex,
.home-container .header-title .ant-row-flex .ant-col-8,
.home-container .header-title .ant-row-flex .ant-col-16{
    height: 68px;
    line-height: 68px;
}
.protype-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 5px;
}

/*Tree Style*/
.ant-tree li{
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 20px !important;
}

/*Menu Style*/
.ant-menu-horizontal > .ant-menu-item:hover, 
.ant-menu-horizontal > .ant-menu-submenu:hover, 
.ant-menu-horizontal > .ant-menu-item-active, 
.ant-menu-horizontal > .ant-menu-submenu-active, 
.ant-menu-horizontal > .ant-menu-item-open, 
.ant-menu-horizontal > .ant-menu-submenu-open, 
.ant-menu-horizontal > .ant-menu-item-selected, 
.ant-menu-horizontal > .ant-menu-submenu-selected {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ant-btn{
    border-radius: 0;
    width: 100px;
    height: 34px;
    -webkit-box-shadow: none !important;;
    box-shadow: none !important;;
    text-shadow: none !important;
}
.ant-btn-primary{
    border-color: #00c1de !important;
    background-color: #00c1de !important;
    height: 34px !important;
}
.ant-btn-primary:hover, .ant-btn-primary:focus{
    background: #10d5f3 !important;
    border-color: #10d5f3 !important;
}
.ant-btn-primary.disabled, 
.ant-btn-primary[disabled], 
.ant-btn-primary.disabled:hover, 
.ant-btn-primary[disabled]:hover, 
.ant-btn-primary.disabled:focus, 
.ant-btn-primary[disabled]:focus, 
.ant-btn-primary.disabled:active, 
.ant-btn-primary[disabled]:active, 
.ant-btn-primary.disabled.active, 
.ant-btn-primary[disabled].active {
    color: rgba(0, 0, 0, 0.25) !important;
    background-color: #f5f5f5 !important;
    border-color: #f5f5f5 !important;
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.ant-btn.common-btn{
    color: #00c1de !important;
    border-color: #00c1de !important;
}
.ant-btn.common-btn:active{
    background-color: #10d5f3;
    border-color: #10d5f3 !important;
    color: #fff !important;
}

.ant-spin-nested-loading, 
.ant-spin-nested-loading > .ant-spin-container {
    height: 100% !important;
}

.ant-pagination-item{
    border-radius: 0;
}

.ant-table-pagination.ant-pagination{
    float: none;
}

/*input style*/
.ant-input{
    height: 34px !important;
}
.ant-input-textarea{
    height: auto !important;
    overflow-y: auto !important;
}
.ant-input, .ant-cascader-picker{
    border-color: #f8f8f8;
    border-radius: 0 !important;
    background: #f8f8f8 !important;
}
.ant-input:hover{
    border-color: #f8f8f8 !important;
}
.ant-input:focus, .ant-cascader-picker-focused{
    background: #fff !important;
    color: #666666;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.ant-input:focus{
    border-color: #00c1de !important;
}
.ant-input::-webkit-input-placeholder{
    font-weight: 0;
    color: #888;
}
.ant-input::-moz-input-placeholder{
    font-weight: 0;
    color: #888;
}
.ant-input::-ms-input-placeholder{
    font-weight: 0;
    color: #888;
}
.ant-cascader-picker-focused{
    border-color: #00c1de;
}
.ant-cascader-picker:focus .ant-cascader-input{
    border-color: #f8f8f8 !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-right-width: 1px !important;
}
.ant-cascader-menus{
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.ant-cascader-menu:first-child{
    border-radius: 0 !important;
}
.ant-select-selection{
    border-radius: 0;
    background: #f8f8f8 !important;
    border: 0;
}
.ant-select.ant-select-focused .ant-select-selection{
    background: #fff !important;
    border: 1px solid #00c1de;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ant-select-dropdown{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}
.ant-select-selection__placeholder{
    font-weight: 0;
    color: #888;
}
.ant-input-search .ant-input{
    background: #fff !important;
    border-color: #00c1de;
}
.ant-input-search .ant-input:hover{
    border-color: #409EFF !important;
}
.ant-input-search .ant-input:focus{
    border-color: #409EFF;
}
.ant-input-disabled{
    color: #666 !important;
}
/*多选框*/
/* .ant-select-selection--multiple{
    padding-bottom: 0 !important;
}
.ant-select-selection--multiple .ant-select-selection__rendered{
    margin-bottom: 0 !important;
} */


.ant-icon {
    display: inline-block;
    width: 18px;
    height: 16px;
    margin-right: 12px;
}
.ant-icon:last-child{
    margin-right: 0;
}
.ant-icon.see{
    background: url("../images/see.png")no-repeat;
}
.ant-icon.edit{
    background: url("../images/edit.png")no-repeat;
}
.ant-icon.del_table{
    background: url("../images/del_table.png")no-repeat;
}
.ant-icon.add{
    width: 16px;
    height: 16px;
    background: url("../images/add.png")no-repeat;
}
.ant-icon.del{
    width: 16px;
    height: 16px;
    background: url("../images/del.png")no-repeat;
}
.ant-icon.download{
    width: 16px;
    height: 16px;
    background: url("../images/download.png")no-repeat;
}


/*知识树模块*/
.tree-box{
    overflow: auto;
}


.ant-col-8, .ant-col-24{
    align-items: center;
}
.ant-col-8 > .ant-input-title, .ant-col-24 > .ant-input-title{
    text-align: right;
    /* padding-right: 15px; */
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap; 
    padding-right: 10px;
}
.ant-col-8 > .ant-input{
    width: 78%;
}
.ant-col-8 > .ant-input-title{
    width: 22%;
}
.ant-col-24 > .ant-input-title{
    width: 8%;
}
.ant-col-8 > .ant-cascader-picker{
    width: 88% !important;
}


/*table style*/
.ant-table-small > .ant-table-content > .ant-table-body{
    margin: 0 !important;
}
.ant-table-thead > tr > td, .ant-table-tbody > tr > td{
    height: 34px;
    max-width: 34px;
}
.ant-table-small .ant-table-tbody>tr>td {
    padding: 0 8px!important;
    height: 40px;
    border: none;
}
.ant-table-small .ant-table-tbody>tr>td > span {
    display: block;
    word-wrap:break-word; 
    text-overflow:ellipsis; 
    overflow:hidden; 
    white-space: nowrap;
}
.ant-table-thead tr th  {
    background: #f0f0f0 !important;
    color: #333 !important;
    font-weight: bold;
}
.ant-table-tbody .ant-table-row:nth-child(2n) {
    background: #f8f8f8;
}
.ant-table-thead tr th, .ant-table-tbody .ant-table-row{
    text-align: center;
}
.ant-table, .ant-table .ant-table-small{
    border: 0 ;
    border-bottom: 1px solid #e8e8e8;
    font-family: "Microsoft YaHei" !important;
}
.ant-table, .ant-table .ant-table-small, 
.ant-table-thead > tr:first-child > th:last-child,
.ant-table-thead > tr:first-child > th:first-child{
    border-radius: 0 !important;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
    border-radius: 0 !important;
}
.ant-pagination-options-quick-jumper > input{
    border-radius: 0;
}
.ant-pagination-item-active{
    border-color: #00c1de !important;
}
.ant-pagination-item-active > a{
    color: #00c1de !important;
}
.ant-pagination-options-quick-jumper input:focus {
    border-color: #00c1de !important;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right-width: 1px !important;
}


/*modal style*/
.ant-modal-content{
    border-radius: 0 !important;
}
.ant-modal-header{
    height: 74px !important;
    padding: 18px 40px 10px 40px !important;
    border: 0 !important;
}
.ant-modal-title{
    height: 45px;
    line-height: 45px !important;
    border-bottom: 1px solid #e8e8e8;
    font-weight: bold !important;
    padding: 0 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.ant-modal-title::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 20px;
    line-height: 60px;
    background-color: #00C2DE;
    margin-right: 12px;
    margin-top: 12px;
    left: 40px;
    top: 18px;
}
.ant-modal-body{
    padding: 10px 40px !important;
}
.ant-modal-body .ant-input{
    height: 40px !important;
}
.ant-modal-body .ant-input-group > button{
    height: 40px !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.ant-modal-close{
    top: 12px !important;
    right: 20px !important;
}
.device-list{
    width: 100%;
    height: 187px;
    background: #f8f8f8;
    overflow-y: auto;
    margin-top: 17px;
    padding: 6px 16px 0;
}
 .device-list .device-item{
    list-style: none;
    height: 24px;
    line-height: 24px;
    color: #666;
}
.device-list .device-item .cir_del{
    float: right;
    width: 16px;
    height: 16px;
    background: url("../images/cir_del.png")no-repeat center center;
    margin-top: 4px;
}
.ant-modal-footer{
    border: none !important;
    text-align: center !important;
    padding: 10px 40px 30px 40px !important;
}
.ant-modal-footer button + button{
    margin-left: 30px !important;
    color: #00c1de;
    border-color:  #10d5f3;
}
.ant-modal-footer button + button:active{
    background-color: #10d5f3;
    border-color: #10d5f3;
    color: #fff;
}


/*Tree Style*/
.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected{
    background: #00c1de !important;
    color: #fff;
}
.ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected{
    background: #00c1de !important;
    color: #fff;
}

/*upload Style*/
.ant-upload-list-item-name{
    color: #666;
}


/*Form Style*/
.ant-form-item{
    margin-bottom: 15px !important;
}
.ant-form-item:last-child{
    margin-bottom: 0 !important;
}
/* .ant-form-item-label{
    text-align: left !important;
} */


/*Menu Style*/
.ant-menu-horizontal{
    height: 40px;
    line-height: 38px !important;
    text-align: left;
    border: 1px solid #e1e1e1 !important;
}
.ant-menu-horizontal > .ant-menu-item, 
.ant-menu-horizontal > .ant-menu-submenu{
    border-bottom: 0 !important;
    top: 0 !important;
    border-radius: 0 !important;
    width: 208px;
    text-align: center;
    margin-top: 0 !important;
    vertical-align: top !important;
}
.ant-menu-item.ant-menu-item-active,
.ant-menu-item.ant-menu-item-selected{
    border-bottom: 0 !important;
    background: #00c1de !important;
    color: #fff !important;
    border-radius: 0 !important;
}
.ant-menu-submenu > .ant-menu{
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;;
    box-shadow: none !important;;
}

.ant-tag{
    border-radius: 0 !important;
}

.ant-calendar .ant-calendar-ok-btn{
    border-radius: 0 !important;
}